.dailyword {
  padding: 25px 0 45px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 275px;
  justify-content: space-evenly;
  background-color: #f6f9fc;
}
